In [8]:
import pandas as pd

arquivo = pd.read_csv('wine_dataset.csv', sep=',')
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [9]:
arquivo['style'] = arquivo['style'].replace('red', 0)
arquivo['style'] = arquivo['style'].replace('white', 1)

C:\Users\Nicol\AppData\Local\Temp\ipykernel_30572\2022150833.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  arquivo['style'] = arquivo['style'].replace('white', 1)

In [10]:
#Separando as variaveis entre preditoras e variavel alvo
y = arquivo['style']
x = arquivo.drop('style', axis = 1)

In [12]:
from sklearn.model_selection import train_test_split

In [ ]:
#Criando os conjuntos de dados de treino e teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3)

In [14]:
from sklearn.ensemble import ExtraTreesClassifier
#Criação do modelo:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

#Imprimindo os resultados:
resultado = modelo.score(x_teste, y_teste)
print("Acurácia:", resultado)

Acurácia: 0.9994871794871795

In [15]:
y_teste[400:403]

2306    1
3414    1
3364    1
Name: style, dtype: int64

In [16]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
2306,7.2,0.18,0.45,4.4,0.046,57.0,166.0,0.9943,3.13,0.62,11.2,6
3414,6.8,0.30,0.35,2.8,0.038,10.0,164.0,0.9912,3.09,0.53,12.0,6
3364,6.9,0.29,0.23,8.6,0.056,56.0,215.0,0.9967,3.17,0.44,8.8,5

In [17]:
previsoes = modelo.predict(x_teste[400:403])

In [18]:
previsoes

array([1, 1, 1])